<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaksi Penjualan - SoLink</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet"></head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    <style>
        
    </style>
</head>
<body style="background-color: #bbd4ce; font-family: 'Nunito', sans-serif;">
    {% include 'navbar.html' %}
    <div class="container" style="margin-top: 2%;">
        <div class="row">
            <div class="col" style="text-align: center;">
                <h1 style="font-family: 'Caveat', cursive;">Transaksi Penjualan</h1>
            </div>
        </div>
        <div class="row row-cols-1 ">
            {% for trx in listTrx %}
            <div class="col mb-4">
              <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-outline-dark" style="float: right;" onclick="detailRiwayatMitra('{{trx.0}}')" data-toggle="modal" data-target="#mtr_riwayatModal">
                        Lihat rincian
                    </button> 
                    <h5 class="card-title">Transaksi #{{trx.0}}</h5>
                    <p class="card-text">
                        <table>
                            <tr>
                                <td><b>Pembeli</b></td>
                                <td>:  {{trx.1}}</td>
                            </tr>
                            <tr>
                                <td><b>Total item</b></td>
                                <td>:  {{trx.2}}</td>
                            </tr>
                            <tr>
                                <td><b>Total pembayaran</b></td>
                                <td>:  Rp {{trx.3}}</td>
                            </tr>
                            <tr>
                                <td><b>Status</b></td>
                                <td>:  {{trx.4}}</td>
                            </tr>
                        </table>
                        {% if trx.4 == 'Selesai' %}
                        <br>
                        Pembayaran sebesar Rp {{trx.3}} telah berhasil dikirimkan.
                        {% endif %}
                    </p>
                    {% if trx.4 == 'Menunggu Konfirmasi' %}
                    <a href="{% url 'mtr_shop:konfirmasiTransaksi' trx.0 %}">Konfirmasi Transaksi</a>
                    <a href="{% url 'mtr_shop:batalkanTransaksi' trx.0 %}" style="color: red;">Batalkan Transaksi</a>
                    {% endif %}
                    {% if trx.4 == 'Sedang Dikemas' %}
                    <a href="{% url 'mtr_shop:pengiriman' trx.0 %}" style="float: right;">Input resi pengiriman</a>
                    {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
        </div>

    {% include 'mitra/mtr_riwayatModal.html' %}
</body>
</html>