<div class="modal fade" id="konfirmasiHapus" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="konfirmasiHapusLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="konfirmasiHapusLabel">Hapus Barang !!!</h5>
        </div>
        <div class="modal-body">
            <h3>Apakah anda akan menghapus <strong>Tumbler</strong>?</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Batal</button>
          <a href="{% url 'barang:listBarang' %}">
            <button type="button" class="btn btn-primary">Hapus</button>
        </a>
        </div>
      </div>
    </div>
  </div>