{% extends "navbar.html" %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="konfirmasiHapusLabel">Hapus Barang !!!</h5>
        </div>
        <div class="modal-body">
            <img src="{{ image }}" class="card-img-top">
            <h3>Apakah anda akan menghapus <strong>{{ form.namaBarang }}</strong>?</h3>
            <input type="submit" name="submit" value ="Delete" class="btn btn-outline-success" id ="tombol">
            <a href="{% url 'barang:listBarang' %}" class="btn btn-outline-primary" role="button">Back</a>
        </div>
      </div>
    </div>
  </form>

{% endblock %}
