<div class="modal fade" id="formulirDonasiModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="formulirDonasiModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formulirDonasiModalLabel">Formulir Donasi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <h5 id="namaLsForm" class="text-center">Panti Asuhan Yatim Piatu PKU Aisyiyah Blambangan</h5>
        <img id="urlLsForm" src="https://i.ibb.co/jzr0xHd/aisyiyah.jpg" class="card-img-top">

        <div id="warningEmptyData" style="display: none;" class="alert alert-danger mt-3">
          <strong>Perhatian!</strong> <span id="warningText">Text</span>
        </div>

        <p class="font-weight-bold mt-3">Nama kamu :</p>
        <div class="row">
          <div class="input-group input-group-sm col-8">
            <input id="namaDonatur" type="text" class="form-control" aria-label="Small"
              aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>

        <p class="font-weight-bold mt-3">Jenis Barang :</p>
        <div class="row">
          <div class="input-group input-group-sm col-8">
            <input id="jenisBarang" type="text" class="form-control" aria-label="Small"
              aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>

        <p class="font-weight-bold mt-3">Metode Pengiriman :</p>
        <div class="row">
          <div class="col-8">
            <select class="form-control custom-select" id="metodePengiriman">
              <option value="as">Antar Sendiri</option>
              <option value="js">Jasa Antar</option>
            </select>
          </div>
        </div>

        <div id="divTanggalPengiriman" style="display:block;">
          <p class="font-weight-bold mt-3">Tanggal Pengiriman :</p>
          <input type="date" id="tanggalPengiriman" name="tanggalPengiriman">
        </div>

        <div id="divAlamatJemput" style="display:none;" class="row">
          <div class="col-8">
            <p class="font-weight-bold mt-3">Alamat Penjemputan :</p>
            <input id="alamatJemput" type="text" class="form-control" aria-label="Small"
              aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>

      </div>
      <div class="modal-footer mt-5">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
        <button onClick="checkData()" type="button" class="btn btn-primary">Simpan</button>
      </div>

    </div>
  </div>
</div>