<div class="modal fade" id="ls-konfirmasiBarangDiterimaModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="ls-konfirmasiBarangDiterimaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h5>Konfirmasi barang diterima</h5>
        <p>Apakah barang donasi sudah diterima?</p>
      </div>
      <div class="text-center mb-4">
        <button type="button" class="btn btn-secondary btn-center" data-dismiss="modal">Tutup</button>
        <button onclick="konfirmasiDonasi()" type="button" class="btn btn-primary btn-center"
          data-dismiss="modal">Sudah</button>
      </div>
    </div>
  </div>
</div>