<div class="modal fade" id="detailModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detailModalLabel">Detail Yayasan</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="text-center">Panti Asuhan Yatim Piatu PKU Aisyiyah Blambangan</h5>
          <img src="https://i.ibb.co/jzr0xHd/aisyiyah.jpg" class="card-img-top">
          <p class="font-weight-bold mt-3">Deskripsi :</p>
          <p>Merupakan panti asuhan yang berada di Kabupaten Banjarnegara. Panti asuhan ini merawat dan mendidik anak-anak yatim piatu serta anak-anak terlantar. 
          Panti Asuhan Yatim PKU Aisyiyah Banjarnegara memenuhi kebutuhan anak-anak yang dirawatnya mulai dari makanan hingga sekolahnya. "Aisyiyah berkhidmat mendidik negeri, berkiprah memajukan Jawa Tengah"</p>
          <p class="font-weight-bold mt-3">Nama Pimpinan :</p>
          <p>Hj. Siti Chasanah</p>
          <p class="font-weight-bold mt-3">Jenis :</p>
          <p>Panti Asuhan</p>
          <p class="font-weight-bold mt-3">Kapasitas :</p>
          <p>50 anak</p>
          <p class="font-weight-bold mt-3">Kebutuhan :</p>
          <p>Makanan dan mainan</p>
          <p class="font-weight-bold mt-3">Nomor Telepon Yayasan :</p>
          <p>+628121580191</p>
          <p class="font-weight-bold mt-3">Alamat :</p>
          <p>Jl. Pramuka No 304 Blambangan Kec. Bawang, Kab. Banjarnegara 53471</p>
        </div>
        <div class="modal-footer mt-5">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#formulirDonasiModal">Donasi</button>
        </div>
      </div>
    </div>
  </div>